@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@500&display=swap');

:root {
    --header-width: 100%;
    --header-height: 5rem;
}

@media (max-width: 600px) {
  .menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}

body {
    font-family: 'Stack Sans Notch', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    width: var(--header-width);
    height: var(--header-height);
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
}

#header-down-plataform {
    max-width: 5rem;
    position: fixed;
    top: -30%;
    margin: 0rem;
    left: 39%;
    height: auto;
    display: block;
    animation: moveDown 3s linear forwards;
    will-change: transform;
    z-index: 1;
}

@keyframes moveDown {
    0% {
        transform: translateY(-2rem);
    }
    100% {
        transform: translateY(12rem);
    }
}