@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@500&display=swap');

:root {
    --header-width: 100%;
    --header-height: 80px;
}

body {
    font-family: 'Stack Sans Notch', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    width: var(--header-width);
    height: var(--header-height);
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#header-down-plataform {
    width: 25%;
    position: fixed;
    top: -30%;
    margin: 0;
    left: 10%;
    height: auto;
    display: block;
    animation: moveDown 3s linear forwards;
    will-change: transform;
    z-index: 1;
}

@keyframes moveDown {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(150px);
    }
}